<div class="placeholder-hideout-card">
  <div class="placeholder"></div>
  <div class="info-container">
    <div class="row first-row">
      <div class="placeholder"></div>
      <div class="placeholder"></div>
    </div>
    <div class="row second-row">
      <div class="map placeholder"></div>
      <div class="chip-container">
        <div class="chip placeholder"></div>
        <div class="chip placeholder"></div>
        <div class="chip placeholder"></div>
      </div>
    </div>
  </div>
</div>
