@use '@angular/material' as mat;

:host {
  display: contents;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: black;
  padding: 0.5rem 1rem;
}

// TODO: remove once a proper logo exists
.logo {
  color: var(--dark-highlight-color);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.3px;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.user-action {
  display: flex;

  button {
    @include mat.icon-button-overrides(
      (
        icon-color: var(--mat-sys-on-surface),
      )
    );
  }
}

.logged-user-notice {
  display: flex;
  align-items: center;

  cursor: default;
  padding-inline: 12px;
  min-height: 24px;

  // overwrite Angular's mat-menu-item hover bg color
  &:hover {
    background-color: inherit !important;
  }
}
