<mat-form-field subscriptSizing="dynamic">
  <mat-label>{{ label() }}</mat-label>
  <mat-chip-grid #chipGrid aria-label="{{ selectAriaLabel() }}">
    @let firstSelectedItem = selectedItems()[0];
    @let extraItemsCount = selectedItems().length - 1;
    @if (firstSelectedItem) {
      <mat-chip-row
        class="selected-item"
        [matBadge]="`+ ${extraItemsCount}`"
        [matBadgeHidden]="extraItemsCount === 0"
        [matBadgeDescription]="getSelectionBadgeDescription(extraItemsCount)"
      >
        {{ firstSelectedItem }}
      </mat-chip-row>
    }
  </mat-chip-grid>
  <input
    name="query"
    [placeholder]="inputPlaceholder()"
    [matChipInputFor]="chipGrid"
    [matAutocomplete]="autocomplete"
    [value]="query()"
    (input)="query.set($event.target.value)"
  />
  <mat-autocomplete
    #autocomplete="matAutocomplete"
    (optionSelected)="handleSelection($event)"
    [hideSingleSelectionIndicator]="true"
  >
    @let list = filteredItems();
    @for (item of list; track item) {
      @let isSelected = isItemSelected(item);
      <mat-option [value]="item">
        {{ item }}
        <mat-icon [class.selected]="isSelected">
          {{ isSelected ? 'check_circle' : 'circle' }}
        </mat-icon>
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
