<div class="pagination-control">
  <button
    mat-icon-button
    [disabled]="currentPage() === 1"
    (click)="pageChanged.emit(currentPage() - 1)"
    matTooltip="Previous page"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="page-container">
    <p>{{ currentPage() }} / {{ totalPages() }}</p>
  </div>
  <button
    mat-icon-button
    [disabled]="currentPage() === totalPages()"
    (click)="pageChanged.emit(currentPage() + 1)"
    matTooltip="Next page"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
