<!-- TODO: Disable buttons when one can't go forward or backward -->
<div class="pagination-control">
  <button mat-icon-button (click)="pageChanged.emit(currentPage() - 1)">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="page-container">
    @if (editing()) {
      <form class="page-input" (submit)="handlePageFormSubmit($event)">
        <input type="number" min="1" [max]="totalPages()" required />
        <button mat-icon-button type="submit" class="confirm-btn" [attr.aria-hidden]="!editing()">
          <mat-icon>check</mat-icon>
        </button>
      </form>
    } @else {
      <button mat-icon-button (click)="toggleInputMode()">{{ currentPage() }}</button>
    }
    <p>&nbsp;/ {{ totalPages() }}</p>
  </div>
  <button mat-icon-button (click)="pageChanged.emit(currentPage() + 1)">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
