@let _hideout = hideout();
@let _images = _hideout.images;
@let _selectedImg = _images[selectedImgIdx()];

<div class="hideout-card">
  <div class="img-gallery">
    <ul class="miniature-list">
      @for (img of _images; let idx = $index; track $index) {
        <li>
          <img
            (click)="selectedImgIdx.set(idx)"
            [src]="img.url"
            [alt]="img.alt"
            class="miniature-img"
          />
        </li>
      }
    </ul>
    <a [routerLink]="`/hideout/${_hideout.id}`">
      @if (_selectedImg) {
        <img class="selected-img" [src]="_selectedImg.url" [alt]="_selectedImg.alt" />
      }
    </a>
  </div>
  <div class="info-container">
    <div class="row">
      <p
        class="user-hideout-name"
        [matTooltip]="_hideout.name"
        [matTooltipDisabled]="_hideout.name.length < 24"
      >
        {{ _hideout.name | truncate: 24 }}
      </p>
      <p class="author">
        by <a [routerLink]="`/user/${_hideout.author}`">{{ _hideout.author }}</a>
      </p>
    </div>
    <div class="row secondary-info">
      <p class="map-name highlight">{{ _hideout.map.name }}</p>
      <div class="short-info-group">
        <p>
          POE&nbsp;<span class="highlight">{{ _hideout.poeVersion }}</span>
        </p>
        <p aria-label="Rating">
          <mat-icon>star</mat-icon>
          &nbsp;
          <span class="highlight">{{ _hideout.rating }}</span>
          /5
        </p>
        <p>
          MTX:&nbsp;<span class="highlight">{{ _hideout.hasMTX ? 'Yes' : 'No' }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
