:host {
  display: contents;
}

.hideout-card {
  width: 100%;

  img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  gap: 0.5rem;

  font-size: 0.8rem;
  font-weight: bold;
  color: var(--dark-highlight-color);
  text-align: center;

  .short-info-group {
    color: var(--text-primary);
    font-size: 0.8rem;
    letter-spacing: 0.7px;
    display: flex;
    gap: 0.4rem;

    p {
      white-space: nowrap;
      background: black;
      font-weight: bold;
      border: solid var(--light-highlight-color) 1px;
      padding: 2px 4px;
      border-radius: 4px;
    }
  }
}
