@let _hideout = hideout();
@let _images = _hideout.images;
@let _selectedImg = _images[selectedImgIdx()];

<div class="hideout-card">
  <div class="img-gallery">
    <ul class="miniature-list">
      @for (img of _images; let idx = $index; track $index) {
        <li>
          <img
            (click)="selectedImgIdx.set(idx)"
            [src]="img.src"
            [alt]="img.alt"
            class="miniature-img"
          />
        </li>
      }
    </ul>
    <a [routerLink]="`/hideout/${_hideout.guid}`">
      <img class="selected-img" [src]="_selectedImg.src" [alt]="_selectedImg.alt" />
    </a>
  </div>
  <div class="info-container">
    <p class="map-name">{{ _hideout.map }}</p>
    <div class="short-info-group">
      <p>POE {{ _hideout.poeVersion }}</p>
      <p>{{ _hideout.rating }}/5</p>
      <p>MTX: {{ _hideout.hasMTX ? 'Yes' : 'No' }}</p>
    </div>
  </div>
</div>
