:host {
  display: contents;
}

.hideout-card {
  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  grid-template-columns: minmax(0, 1fr);
  place-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;

  .img-gallery {
    display: flex;
    flex-direction: column;
    position: relative;
    height: stretch;

    ul.miniature-list {
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0.2rem 0.5rem 0.2rem 0;

      display: flex;
      gap: 0.4rem;
      height: 1.5rem;
      list-style-type: none;

      .miniature-img {
        cursor: pointer;
        border-radius: 4px;
        height: 100%;
        aspect-ratio: 16 / 9;
      }
    }

    a {
      display: flex;
      height: 100%;
    }

    .selected-img {
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
      transition: opacity 100ms;
    }

    ul.miniature-list:hover ~ a .selected-img {
      opacity: 0.6;
    }
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding-inline: 0.5rem;

    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;

    &.secondary-info {
      flex-wrap: wrap;
      justify-content: center;
    }

    .user-hideout-name {
      font-size: 1rem;
      color: var(--dark-highlight-color);
    }

    .author {
      font-size: 0.8rem;
      letter-spacing: 1.2px;
      font-weight: normal;

      a {
        color: var(--light-highlight-color);
      }
    }

    .user-hideout-name,
    .map-name {
      letter-spacing: 0.8px;
    }

    .highlight {
      font-weight: bold;
      color: var(--light-highlight-color);
    }

    .short-info-group {
      display: flex;
      font-size: 0.8rem;
      letter-spacing: 0.7px;
      gap: 0.4rem;

      p {
        display: flex;

        color: var(--text-secondary);
        align-items: center;
        white-space: nowrap;
        background: black;
        border: solid var(--light-highlight-color) 1px;
        padding: 2px 4px;
        border-radius: 4px;
      }
    }
  }
}
