:host {
  display: block;
  width: 100dvw;
  min-height: 100dvh;

  background-color: var(--background-color);
  color: var(--text-primary);
}

.content {
  padding-block: 0.5rem;
  padding-inline: 1.25rem;

  @media screen and (width >= 600px) {
    padding-inline: 2rem;
  }

  @media screen and (width >= 900px) {
    padding: 3rem;
  }
}
