@use '@angular/material' as mat;

:host {
  @include mat.chips-overrides(
    (
      elevated-container-color: rgb(58, 58, 58),
    )
  );

  display: grid;
  grid-template-rows: minmax(0, 1fr) auto;
  gap: 0.5rem;
  height: 100%;

  --items-per-line: 1;
  --items-per-page: 0;
}

ul.hideout-list {
  list-style-type: none;

  --line-count: calc(var(--items-per-page) / var(--items-per-line));

  overflow: auto;

  display: grid;
  grid-template-rows: repeat(var(--line-count), minmax(0, 1fr));
  grid-template-columns: repeat(var(--items-per-line), 1fr);
  gap: 1rem;

  // li.hideout-item {
  //   margin-inline: auto;
  // }
}

.search-btn {
  display: block;
  margin-top: 0.5rem;
  margin-inline: auto;
}
