@let _errors = errors();

@if (loadingPage()) {
  <p>Loading filters and list...</p>
} @else if (_errors.length > 0) {
  <div class="error-list">
    @for (err of _errors; track $index) {
      <p class="error">{{ err }}</p>
    }
  </div>
} @else {
  <div>
    @let _hideouts = clientHideoutList();
    @if (!loadingList()) {
      <div class="btn-area">
        <button
          matButton
          matTooltip="Open filters menu"
          (click)="openFilterDialog()"
          aria-keyshortcuts="Control+K"
        >
          <mat-icon>tune</mat-icon>
          Filters
        </button>
        <span class="kbd-shortcut"><kbd>Ctrl</kbd> + <kbd>K</kbd></span>
      </div>
      @if (_hideouts.length > 0) {
        <ul class="hideout-list">
          @for (hideout of _hideouts; track hideout.id) {
            <li class="hideout-item"><app-hideout-card [hideout]="hideout" /></li>
          }
        </ul>
        <app-pagination-control
          [currentPage]="currentClientPage()"
          (pageChanged)="handlePageChange($event)"
          [totalPages]="clientPageCount()"
        />
      } @else {
        <p>No hideouts match the filters.</p>
      }
    }
  </div>
}
