@use '@angular/material' as mat;

:host {
  @include mat.chips-overrides(
    (
      elevated-container-color: rgb(58, 58, 58),
    )
  );

  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;

  --items-per-line: 0;
  --items-per-page: 0;
}

.hideout-list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.5rem;
}

// TODO: Figure out how to prevent this list from growing bigger than the page
ul.hideout-list {
  --line-count: calc(var(--items-per-page) / var(--items-per-line));

  display: grid;
  list-style-type: none;
  grid-template-rows: repeat(var(--line-count), 1fr);
  grid-template-columns: repeat(var(--items-per-line), 1fr);
  justify-content: start;
  gap: 1rem;

  .hideout-item {
    max-width: 100%;
    margin-inline: auto;
  }
}

.search-btn {
  display: block;
  margin-top: 0.5rem;
  margin-inline: auto;
}
