<!-- TODO: Figure out how to handle errors in the applications (snackbar?) -->
<!-- @let _errors = errors();

if (_errors.length > 0) {
  <div class="error-list">
    @for (err of _errors; track $index) {
      <p class="error">{{ err }}</p>
    }
  </div>
} -->

@defer (when !loadingFilters()) {
  <div class="filter-area">
    <div>
      <button
        matButton
        matTooltip="Open filters menu"
        (click)="triggerFilterDialogFlow()"
        aria-keyshortcuts="Control+K"
      >
        <mat-icon>tune</mat-icon>
        Filters
      </button>
      <span class="kbd-shortcut"><kbd>Ctrl</kbd> + <kbd>K</kbd></span>
    </div>
    <div class="clear-btn-container">
      @let _activeFiltersCount = activeFiltersCount();
      @if (_activeFiltersCount) {
        <p>
          <span class="highlight">{{ activeFiltersCount() }}</span> active filters
        </p>
        <button mat-button (click)="clearFilters()">Clear</button>
      } @else {
        <p>No active filters</p>
      }
    </div>
  </div>
} @placeholder (minimum 200ms) {
  <div class="centered">
    <p>Loading filters...</p>
    <mat-progress-spinner mode="indeterminate" [diameter]="24" />
  </div>
}

@defer (when !smartList.loading()) {
  @let _hideouts = smartList.list();
  @if (_hideouts.length > 0) {
    <ul class="hideout-list">
      @for (hideout of _hideouts; track hideout.id) {
        <li class="hideout-item"><app-hideout-card [hideout]="hideout" /></li>
      }
    </ul>
    <app-pagination-control
      [currentPage]="smartList.currentPage()"
      (pageChanged)="smartList.triggerPageChangeFlow({ page: $event })"
      [totalPages]="smartList.totalPages()"
    />
  } @else {
    <p class="centered">No hideouts match the filters.</p>
  }
} @placeholder (minimum 200ms) {
  <ul class="placeholder-hideout-list">
    @for (_ of [0, 0, 0, 0, 0, 0]; track $index) {
      <app-placeholder-hideout-card />
    }
  </ul>
}
