@let _data = data.baseData;
@let _filters = selectedFilters();

<h1 mat-dialog-content>Filters</h1>
<mat-dialog-content class="filter-dialog">
  <div class="row">
    <mat-form-field class="name-field" subscriptSizing="dynamic">
      <mat-label>Name</mat-label>
      <input
        matInput
        [value]="_filters.name || ''"
        (input)="updateFilter('name', $event.target.value === '' ? null : $event.target.value)"
      />
    </mat-form-field>
  </div>
  <div class="row">
    <section class="mtx-field">
      <p>Uses MTX</p>
      <mat-button-toggle-group
        aria-label="MTX (microtransactions)"
        [value]="decodeMTX(_filters.hasMTX)"
        (change)="updateFilter('hasMTX', encodeMTX($event.value))"
        multiple
      >
        <mat-button-toggle [value]="1">Yes</mat-button-toggle>
        <mat-button-toggle [value]="0">No</mat-button-toggle>
      </mat-button-toggle-group>
    </section>
    <section class="poe-version-field">
      <p>Version</p>
      <mat-button-toggle-group
        aria-label="PoE version"
        [value]="decodePoeVersion(_filters.poeVersion)"
        (change)="updateFilter('poeVersion', encodePoeVersion($event.value))"
        multiple
      >
        <mat-button-toggle [value]="PoeVersion.One">1</mat-button-toggle>
        <mat-button-toggle [value]="PoeVersion.Two">2</mat-button-toggle>
      </mat-button-toggle-group>
    </section>
  </div>
  <div class="row">
    <app-acms-chip-filter
      label="Maps"
      select-aria-label="Hideout map selection"
      [items]="mapsToOptions(_data.maps)"
      [value]="_filters.maps"
      (change)="updateFilter('maps', $event)"
    />
    <app-acms-chip-filter
      label="Tags"
      select-aria-label="Hideout tag selection"
      [items]="tagsToOptions(_data.tags)"
      [value]="_filters.tags"
      (change)="updateFilter('tags', $event)"
    />
  </div>
  <mat-dialog-actions>
    <button matButton="filled" class="search-btn" [mat-dialog-close]="selectedFilters()">
      Save
    </button>
    <button matButton="tonal" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
