// Angular theming: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './theme-colors' as custom-theme;

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
  }

  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  button {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
  }
}

@layer theme {
  body {
    // Default the application to a dark color theme. This can be changed to
    // `light` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: dark;

    // Angular system variables: https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);
  }

  :root {
    --text-secondary: #979797;
    --dark-highlight-color: #ddab4f;
    --light-highlight-color: #e1c085;

    @include mat.theme(
      (
        color: (
          primary: custom-theme.$primary-palette,
          tertiary: custom-theme.$tertiary-palette,
        ),
        typography: Roboto,
        density: 0,
      ),
      $overrides: (
        // background color
        surface: #2b2b2b,
        // text color
        on-surface: #e2e2e2
      )
    );

    @include mat.tooltip-overrides(
      (
        container-color: var(--mat-sys-primary),
      )
    );
  }

  kbd {
    background-color: #2b2b2b;
    color: #efae32;
    border-radius: 3px;
    border: 1px solid #ff9100;
    box-shadow:
      0 1px 1px #5a3b0010,
      0 2px 0 0 #d69200e1 inset;
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }
}
